<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://localhost:5432/StoreManager</property>
		<property name="connection.username">postgres</property>
		<property name="connection.password">postgres</property>
		<!-- JDBC connection pool (use the built-in) -->
		<!-- <property name="connection.pool_size">1</property> -->
		<!-- SQL dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<!-- Enable Hibernate's automatic session context management -->
		<!-- <property name="current_session_context_class">thread</property> -->
		<!-- Disable the second-level cache -->
		<!-- <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property> -->
		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		<!-- Drop and re-create the database schema on startup -->
		<!-- <property name="hbm2ddl.auto">create</property> -->
		<mapping class="br.com.StoreManager.model.Administrador" />
		<mapping class="br.com.StoreManager.model.Categoria" />
		<mapping class="br.com.StoreManager.model.Cliente" />
		<mapping class="br.com.StoreManager.model.Compra" />
		<mapping class="br.com.StoreManager.model.EstoqueEntrada" />
		<mapping class="br.com.StoreManager.model.EstoqueSaida" />
		<mapping class="br.com.StoreManager.model.FormaPagamento" />
		<mapping class="br.com.StoreManager.model.Fornecedor" />
		<mapping class="br.com.StoreManager.model.Funcionario" />
		<mapping class="br.com.StoreManager.model.LocalArmazenamento" />
		<mapping class="br.com.StoreManager.model.Produto" />
		<mapping class="br.com.StoreManager.model.TipoDoc" />
		<mapping class="br.com.StoreManager.model.TipoUnidade" />
	</session-factory>
</hibernate-configuration>